<div class = "input-div">
    <input 
        type="number"
        [(ngModel)] = "booking"
        placeholder="Enter number of seats to book"
    />
    <button (click)="reserveSeats()">Reserve Seats</button>
    <button (click)="reset()"> Clear Coach</button>

</div>
<span>{{message}}</span>
<div class="coach">
<div class="row" *ngFor="let row of seats">
  <div class="seat" *ngFor="let seat of row" [ngClass]="{'seat': true, 'booked': seat.booked, 'selected': seat.selected}">
    <!-- {{ seat.number }} -->
  </div>
</div>


